:host {
    display: flex;
    justify-self: start;
    width: 100%;
    overflow-y: auto;
}

.desktopLikeButton {
    width: 224px;
.loader {
    margin: auto;
    width: 100% !important;
}

.bookPageContainer.desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .bookPageContainer.mobile {
        display: none;
    }

    .bookInfoContainer {
        background: rgba(22, 119, 255, 0.04);
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: space-between;
    }

    .info {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    .bookCover {
        height: 394px;
        width: auto;
        border-radius: 8px;
    }

    .bookInfo {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 16px 0;
    }

    .book {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .title {
        font-size: 35px;
        letter-spacing: 0.03em;
        color: #14121d;
    }

    .subtitle {
        display: flex;
        flex-direction: row;
        gap: 16px
    }

    .subtitleText {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #868ca2;
    }

    .author {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .authorInfo {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .yearLabel,
    .authorLabel {
        font-size: 20px;
        color: #525B7E;
        letter-spacing: 0.03em;
    }

    .authorText {
        font-size: 20px;
        letter-spacing: 0.03em;
        font-weight: 700;
        color: #4096FF;
        transition: all 0.1s ease-in;
    }

    .authorText:hover {
        color: #1677FF;
    }

    .yearText {
        font-size: 20px;
        letter-spacing: 0.03em;
        font-weight: 700;
        color: #100F16FF;
    }

    .buttons {
        height: 224px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-self: start;
        padding: 8px;
    }

    .button {
        height: 50px !important;
    }

    .description {
        white-space: wrap;
        font-size: 25px;
        color: #000;
        line-height: 152%;
    }

    .recommendations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 16px;
    }
}

@media (max-width: 767px) {
    :host {
        width: 100%;
        background: #f9fdff;
    }

    .bookPageContainer.mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 24px 16px;
        }

        .backButton,
        .likeButton {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            width: 21px;
            height: 18px;
        }

        .playButton {
            width: max(60%, 200px);
            align-self: center;
        }

        .coverContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 16px;
        }

        .cover {
            border-radius: 8px;
            width: auto;
            height: 301px;
            box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.13);
        }

        .bookInfo {
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
            padding: 0 16px;
        }

        .names {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .bookName {
            font-weight: 500;
            font-size: 22px;
            letter-spacing: 0.03em;
            text-align: center;
            color: #14121d;
        }

        .authorName {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.03em;
            text-align: center;
            color: #14121d;
        }

        .bookDetails {
            display: flex;
            flex-direction: row;
            gap: 16px;
            justify-content: center;
            align-items: center;
        }

        .bookDetailsText {
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.03em;
            text-align: center;
            color: #14121d;
        }

        .bookDetailsLabel {
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.03em;
            text-align: center;
            color: #c2c2c2;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0 16px;
        }

        .title {
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0.03em;
            color: #14121d;
        }

        .descriptionText {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.03em;
            color: #14121d;
        }

        .recommendations {
            overflow-x: auto;
            width: 100%;
            padding: 0 16px;
        }
    }

    .bookPageContainer.desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .bookPageContainer.mobile {
        display: none;
    }

    .bookPageContainer.desktop {
        .content {
            width: 700px;
        }

        .bookDescription {
            width: 700px;
        }

        .recommendations {
            overflow-x: auto;
            width: 700px;
            padding: 0 22px;
        }

        .bookCover {
            height: 300px;
            width: auto;
            border-radius: 8px;
            box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.13);
        }

        .title {
            font-size: 28px;
        }

        .subtitle {
            font-size: 14px;
        }

        .yearLabel,
        .authorLabel {
            font-size: 18px;
        }

        .yearText,
        .authorText {
            font-size: 18px;
        }
    }
}

@media (min-width: 1024px) {
    .bookPageContainer.mobile {
        display: none;
    }

    .bookPageContainer.desktop {
        .content {
            width: 950px;
        }

        .bookDescription {
            width: 950px;
        }

        .recommendations {
            overflow-x: auto;
            width: 950px;
            padding: 0 22px;
        }

        .bookCover {
            height: 394px;
            width: auto;
            border-radius: 8px;
            box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.13);
        }

        .title {
            font-size: 35px;
        }

        .subtitle {
            font-size: 16px;
        }

        .authorLabel {
            font-size: 20px;
        }

        .authorText {
            font-size: 20px;
        }
    }
}

@media (min-width: 1280px) {
    .bookPageContainer.mobile {
        display: none;
    }

    .bookPageContainer.desktop {
        .content {
            width: 1200px;
        }

        .bookDescription {
            width: 1200px;
        }

        .recommendations {
            overflow-x: auto;
            width: 1200px;
            padding: 0 22px;
        }
    }
}

@media (min-width: 1366px) {
    .bookPageContainer.mobile {
        display: none;
    }

    .bookPageContainer.desktop {
        .content {
            width: 1300px;
        }

        .bookDescription {
            width: 1300px;
        }

        .recommendations {
            overflow-x: auto;
            width: 1300px;
            padding: 0 22px;
        }
    }
}
