:host {
    display: flex;
    justify-self: start;
    width: 100%;
    overflow-y: auto;
}

.bookPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.bookInfoContainer {
    background: rgba(22, 119, 255, 0.04);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bookCover {
    height: 394px;
    width: auto;
    border-radius: 8px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 16px 0;
}

.book {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 35px;
    letter-spacing: 0.03em;
    color: #14121d;
}

.subtitle {
    display: flex;
    flex-direction: row;
    gap: 16px
}

.subtitleText {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #868ca2;
}

.author {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.authorInfo {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.authorLabel {
    font-size: 20px;
    color: #525B7E;
    letter-spacing: 0.03em;
}

.authorText {
    font-size: 20px;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: #100f16;
}

.buttons {
    height: 224px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: start;
    padding: 8px;
}

.button {
    height: 50px !important;
}

.description {
    white-space: wrap;
    font-size: 25px;
    color: #000;
    line-height: 152%;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 767px) {
    :host {
    }

    .bookPageContainer {

    }

    .content {

    }
}

@media (min-width: 768px) {
    :host {
    }

    .bookPageContainer {

    }

    .content {
        width: 700px;
    }

    .bookDescription {
        width: 700px;
    }

    .recommendations {
        overflow-x: auto;
        width: 700px;
        padding: 0 22px;
    }

    .bookCover {
        height: 300px;
        width: auto;
        border-radius: 8px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 14px;
    }

    .authorLabel {
        font-size: 18px;
    }

    .authorText {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    :host {

    }

    .bookPageContainer {

    }

    .content {
        width: 950px;
    }

    .bookDescription {
        width: 950px;
    }

    .recommendations {
        overflow-x: auto;
        width: 950px;
        padding: 0 22px;
    }

    .bookCover {
        height: 394px;
        width: auto;
        border-radius: 8px;
    }

    .title {
        font-size: 35px;
    }

    .subtitle {
        font-size: 16px;
    }

    .authorLabel {
        font-size: 20px;
    }

    .authorText {
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    :host {

    }

    .bookPageContainer {

    }

    .content {
        width: 1200px;
    }

    .bookDescription {
        width: 1200px;
    }

    .recommendations {
        overflow-x: auto;
        width: 1200px;
        padding: 0 22px;
    }
}

@media (min-width: 1366px) {
    :host {
    }

    .bookPageContainer {

    }

    .content {
        width: 1300px;
    }

    .bookDescription {
        width: 1300px;
    }

    .recommendations {
        overflow-x: auto;
        width: 1300px;
        padding: 0 22px;
    }
}
