<div class="bookPageContainer" *ngIf="book | async">
    <div class="bookInfoContainer">
        <div class="content">
            <div class="info">
                <img
                    class="bookCover"
                    src="{{(book | async)?.imageSrc}}"
                    alt="book cover"
                />
                <div class="bookInfo">
                    <div class="book">
                        <h2 class="title">{{(book | async)?.name}}</h2>
                        <div class="subtitle">
                            <p class="subtitleText">{{genre}}</p>
                            <p class="subtitleText">{{duration}}s</p>
                        </div>
                    </div>
                    <div class="author">
                        <div class="authorInfo" *ngIf="(book | async)?.authors">
                            <p class="authorLabel">Автор: </p>
                            <p class="authorText">{{authorName}}</p>
                        </div>
                        <div class="authorInfo" *ngIf="(book | async)?.speakers">
                            <p class="authorLabel">Исполнитель: </p>
                            <p class="authorText">{{speakerName}}</p>
                        </div>
                        <div class="authorInfo" *ngIf="(book | async)?.publicationYear">
                            <p class="authorLabel">Год: </p>
                            <p class="authorText">{{(book | async)?.publicationYear}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button
                    tuiButton
                    appearance="primary"
                    class="button"
                >
                    Слушать
                </button>
                <button
                    tuiButton
                    appearance="secondary"
                    class="button desktopLikeButton"
                >
                    Добавить на полку
                </button>
            </div>
        </div>
    </div>
    <div class="bookDescription">
        <p class="description">
            {{(book | async)?.description}}
        </p>
    </div>
    <div class="recommendations">
        <app-card-slider
            [label]="'Книги из этой серии'"
            [books]="mockBooks"
        ></app-card-slider>
        <app-card-slider
            [label]="mockBooks[0].description.slice(0, 35)"
            [books]="mockBooks"
        ></app-card-slider>
    </div>
</div>
