<div class="authorization-form-container">
    <h1>Создать новый аккаунт</h1>
    <div class="formWrapper">
        <form
            class="form"
            [formGroup]="authorizationForm"
        >
            <tui-input
                formControlName="email"
                [tuiTextfieldCleaner]="true"
            >
                Введите адрес эл.почты
                <input
                    class="input"
                    tuiTextfield
                    autocomplete="email"
                />
            </tui-input>
            <tui-input
                formControlName="password"
                [tuiTextfieldCleaner]="true"
            >
                Введите пароль
                <input
                    class="input"
                    type="password"
                    tuiTextfield
                    autocomplete="password"
                />
            </tui-input>
            <button
                tuiButton
                class="button"
                type="submit"
                size="l"
            >
                Войти
            </button>
            <div class="registration-link-container">
                <p>Нет аккаунта?</p>
                <a
                    tuiLink
                    class="registration-link"
                    href="/register"
                >
                    Зарегистрироваться
                </a>
            </div>
        </form>
    </div>
</div>
