<div class="authorization-form-container">
    <h1>Создать новый аккаунт</h1>
    <div class="formWrapper">
        <form
            class="form"
            [formGroup]="authorizationForm"
        >
            <tui-input
                formControlName="email"
            >
                Введите адрес эл.почты
                <input
                    class="input"
                    tuiTextfield
                />
            </tui-input>
            <tui-input
                formControlName="password"
            >
                Введите пароль
                <input
                    class="input"
                    type="password"
                    tuiTextfield
                />
            </tui-input>
            <button
                tuiButton
                class="button"
                type="submit"
                size="l"
            >
                Войти
            </button>
        </form>
    </div>
</div>
