<div class="main-page-container">
        <app-card-slider
            *ngIf="books"
            [label]="mockBooks[0].description.slice(0, 35)"
            [books]="books | async"
        ></app-card-slider>
        <app-card-slider
            *ngIf="books"
            [label]="mockBooks[0].description.slice(0, 35)"
            [books]="books | async"
        ></app-card-slider>
        <app-card-slider
            *ngIf="books"
            [label]="mockBooks[0].description.slice(0, 35)"
            [books]="books | async"
        ></app-card-slider>
        <app-card-slider
            *ngIf="books"
            [label]="mockBooks[0].description.slice(0, 35)"
            [books]="books | async"
        ></app-card-slider>
</div>
