@import "styles";

.app {
    background: $bg-color;
    font-family: $font-family;
    height: 100vh;
}

.main-header {
    width: 100%;
    height: 80px;
    position: sticky;
    z-index: 1000;
}

.grid-12 {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: start;
}

.main {
    z-index: 1000;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.tui-root {
    z-index: 100000;
}


@media (max-width: 767px) {
    .grid-12 {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .grid-12 {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1024px) {
    .grid-12 {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1366px) {
    .grid-12 {
        grid-template-columns: 1fr;
    }
}

router-outlet {
    position: absolute;
}
