<div class="navbar-container grid-12">
    <button
        class="logo"
        (click)="navigateToHome()"
    >
        <img src="./assets/logo.svg" alt="Логотип">
    </button>
    <tui-input
        *tuiLet="((books$ | async) || []) as parsedBooks"
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        class="search"
        tuiTextfieldSize="m"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
        [ngModel]="searchQuery"
        [formControl]="control"
    >
        Поиск по книгам
        <input
            class="search-input"
            tuiTextfield
        />
        <ng-container *ngIf="parsedBooks.length">
            <tui-data-list *tuiDataList>
                <button
                    *ngFor="let item of parsedBooks"
                    tuiOption
                    [value]="item.name"
                    (click)="navigateToBook(item.id)"
                >
                    <span class="name">{{ item.name }}</span>
                </button>
            </tui-data-list>
        </ng-container>
    </tui-input>
    <nav class="links">
        <button class="link">
            <img
                appInlineSvg
                class="link__image"
                src="./assets/my-books.svg"
                alt="Мои книги"
                width=29
                height=29
            >
            Мои книги
        </button>
        <button class="link">
            <img
                appInlineSvg
                class="link__image"
                src="./assets/genres.svg"
                alt="Жанры"
                width=29
                height=29
            >
            Жанры
        </button>
        <button (click)="navigateToAuthorization()" class="link">
            <img
                appInlineSvg
                class="link__image"
                src="./assets/login.svg"
                alt="Войти"
                width=29
                height=29
            >
            Войти
        </button>
    </nav>
</div>
