<div class="navbar-container grid-12">
    <button
        class="logo"
    >
        <img src="./assets/logo.svg">

    </button>
    <tui-input
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        class="search"
        tuiTextfieldSize="m"
        [ngModel]="searchQuery"
    >
        Поиск по книгам
        <input
            class="search-input"
            tuiTextfield
        />
    </tui-input>
    <nav class="links">
        <button>
            Мои книги
        </button>
        <button>
            Жанры
        </button>
        <button>
            Войти
        </button>
    </nav>
</div>
