.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.avatar__container {
    width: 100vw;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 119, 255, 0.04);
    padding: 50px;

    .avatar__image {
        border-radius: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }

    .name {
        font-size: 32px;
        font-weight: 600;
    }
}

.content__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 1300px;

    .description {
        font-size: 25px;
        line-height: 152%;
    }

    .books {
        width: 100%
    }
}
