.container {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.controls_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 245px;
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.about {

}

.about-title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #14121d;
    padding-top: 11px;
}

.about-name {
    text-align: center;
    padding-top: 3px;
    font-weight: 400;
    font-size: 18px;
    color: #c2c2c2;
}

