<div class="container">
    <img src="/assets/book.png"/>

    <div class="about">
        <p class="about-title">Глава 1</p>
        <p class="about-name">Стеллар. Трибут</p>
    </div>

    <app-slider-rewind
        startTime="{{ state.readableCurrentTime || '00:00' }}"
        endTime="{{ state.readableDuration || '00:00' }}"
        [currentTime]="state.currentTime || 0"
        [maxTime]="state.duration || 0"
        (valueChange)="onSliderChangeEnd($event)"
    />

    <div class="controls">
        <div class="controls_wrapper">
            <app-toggle-rewind (click)="audioRewindBack(15)" type="left"/>
            <app-togle-play
                [activeButtonState]="this.state.playing || false"
                (playEvent)="play()"
                (pauseEvent)="pause()"/>
            <app-toggle-rewind (click)="audioRewindNext(15)" type="right"/>
        </div>
    </div>

    <app-select-speed (valueChanged)="speed($event)"></app-select-speed>


    <app-sleep-timer (valueChanged)="sleepTimer($event)" [sleepTimerState]="sleepTimerState"></app-sleep-timer>
<!--    <ul>-->
<!--        <li *ngFor="let file of files; let i = index" (click)="openFile(file, i)">{{ file.name }}</li>-->
<!--    </ul>-->
</div>
