.player {
    height: 100vh;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;

    //&__image-container {
    //
    //    &_active {
    //
    //    }
    //}

   &-image {
       height: 39vh;
       border-radius: 8px;
   }

    &-image__container {
        display: flex;
        justify-content: center;
    }

   &-container__tools {
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-top: auto;
   }

    &-controls__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 245px;
        width: 100%;
    }

    &-controls {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    &-about__title {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        color: #14121d;
        padding-top: 11px;
    }

    &-about__name {
        text-align: center;
        padding-top: 3px;
        font-weight: 400;
        font-size: 18px;
        color: #c2c2c2;
    }
}

.back-button {
    padding-top: 50px;
    padding-bottom: 55px;
}

.bottom-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;


    &__wrapper {
        display: flex;
        padding: 10px 20px 10px 20px;
        align-items: center;

    }

    &__image {
        height: 45px;
        box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.13);
        border-radius: 5px;
    }

    &_about__title {
        margin-left: 20px;
        font-weight: 500;
        font-size: 14px;
        color: #14121d;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_about__name {
        margin-left: 20px;
        font-weight: 400;
        font-size: 14px;
        color: #c2c2c2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__controllers {
        margin-left: auto;
        display: flex;
        width: 65px;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        align-items: center;
    }
}
