<h2
    *ngIf="label"
    class="label"
>
    {{label}}
</h2>

<div
    tuiCarouselButtons
    class="wrapper"
>
    <button
        icon="tuiIconChevronLeftLarge"
        title="Previous"
        tuiIconButton
        type="button"
        class="left_button"
        (click)="carousel.prev()"
    ></button>
    <tui-carousel
        [itemsCount]="5"
        [style.--tui-carousel-padding]="0"
        #carousel
        class="carousel"
    >
        <ng-container *ngFor="let book of books">
            <app-card-slider-item
                *tuiItem
                [book]="book"
            />
        </ng-container>
    </tui-carousel>
    <button
        icon="tuiIconChevronRightLarge"
        title="Next"
        tuiIconButton
        class="right_button"
        type="button"
        (click)="carousel.next()"
    ></button>
</div>
