:host {
    display: grid;
    justify-self: center;
    align-content: center;
    height: 100%;
    width: 100%;
}
@media (max-width: 767px) {
    :host {
        grid-template-columns: 1fr;
    }

    .registration-form-container {
        grid-column: 1;
        padding: 0 32px;
    }
}

@media (min-width: 768px) {
    :host {
        grid-template-columns: repeat(8, 65px);
        grid-column-gap: 20px;
    }

    .registration-form-container {
        grid-column: 2/8;
    }
}

@media (min-width: 1024px) {
    :host {
        grid-template-columns: repeat(12, 65px);
        grid-column-gap: 20px;
    }

    .registration-form-container {
        grid-column: 4/10;
    }
}

@media (min-width: 1366px) {
    :host {
        grid-template-columns: repeat(14, 65px);
        grid-column-gap: 20px;
    }

    .registration-form-container {
        grid-column: 5/11;
    }
}

.registration-form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    justify-content: center;
    background-color: white;
    border-radius: 14px;
    padding: 40px;
    height: min-content;
    box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .12);
    margin-bottom: 100px;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.registration-link-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.registration-link {
    justify-self: end;
}
