:host {
    justify-self: center;
    width: 100%;
}

@media (max-width: 767px) {
    :host {
        grid-column: 1;
        padding: 16px;
    }
}

@media (min-width: 768px) {
    :host {
        grid-column-start: 3;
        grid-column-end: 7;
        align-self: center;
    }
}

@media (min-width: 1280px) {
    :host {
        grid-column-start: 5;
        align-self: center;
        grid-column-end: 9;
        max-width: 449px;
    }
}

.registration-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.registration-link-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.registration-link {
    justify-self: end;
}
