<div class="sleep-timer">
    <tui-root class="sleep-timer__select-wrapper">
        <form class="sleep-timer__form">
            <tui-select
                class="sleep-timer__select"
                tuiTextfieldSize="s"
                [formControl]="testValue"
                (ngModelChange)="onValueChange($event.time)">
                Character
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="times"
                ></tui-data-list-wrapper>
            </tui-select>
        </form>
    </tui-root>

    <p class="sleep-timer__text"
       *ngIf="sleepTimerValue"
        [ngStyle]="{color: color === 'white' ? '#ffffff' : '#14121d'}"
    >{{sleepTimerValue}}</p>
    <img
        class="sleep-timer__icon"
        [ngStyle]="color === 'white' ? {filter: 'invert(100%) brightness(1000%)'} : {}"
        *ngIf="!sleepTimerValue"
        [width]="width"
        [height]="height"
        src="./assets/sleep-button.svg"
        alt="sleep button"/>
</div>


