.speed-timer {
    position: relative;
    height: 44px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &__select-wrapper {
        position: absolute;
        z-index: 1;
    }

    &__text {
        position: absolute;
        z-index: 0;
        font-weight: 500;
        font-size: 18px;
    }

    &__form {
        width: 55px;
        overflow: hidden;
    }

    &__select {
        opacity: 0;
        width: 150px;
    }
}
