<div class="desktop-player">
    <app-desktop-slider-rewind 
        class="desktop-player__slider"
        [startTime]="readableCurrentTime"
        [endTime]="readableDuration"
        [maxTime]="duration"
        [currentTime]="currentTime"
        (valueChange)="onSliderChangeEnd($event)"
    />
    <div class="desktop-player__container">
        <div class="desktop-player__controls">
            <app-small-play-button
                class="desktop-player__play-button  desktop-player__button"
                [activeButton]="playing"
                (eventClick)="playing? pause() : play()"
                [width]="22"
                [height]="25"
            />

            <app-rewind-arrow
                class="desktop-player__rewind-button desktop-player__button"
                (eventClick)="audioRewindBack($event)"
                [size]="'small'"
                type="left"/>
            <app-rewind-arrow
                class="desktop-player__rewind-button desktop-player__button"
                (eventClick)="audioRewindNext($event)"
                [size]="'small'"
                type="right"/>

            <div class="desktop-player__controls__wrapper">
                <div class="desktop-player__image-container">
                    <img
                        class="desktop-player__image-book"
                        id="bookImage"
                        [src]="imageUrl"
                        alt="Обложка книги"
                    />
                </div>

                <div class="desktop-player__about">
                    <p class="desktop-player__about-title">{{ nameChapter }}</p>
                    <p class="desktop-player__about-name">{{ nameBook }}</p>
                </div>
            </div>
        </div>
        <div class="desktop-player__tools">
            <app-select-sleep-time
                class="desktop-player__tools_button"
                [width]="17"
                [height]="19"
                [color]="'white'"
                [sleepTimerValue]="sleepTimerButton"
                (valueChanged)="sleepTimer($event)"/>

            <app-select-speed
                class="desktop-player__tools_button"
                [color]="'white'"
                [speedTimerValue]="speedButton"
                (valueChanged)="speed($event)"/>

            <app-button
                class="desktop-player__button desktop-player__tools_button"
                (eventClick)="toggleChapter()"
                width=23
                height=17
                imageUrl="./assets/selectChapter-button.svg"/>

            <app-select-sound
                class="desktop-player__tools_button"
                [width]="24"
                [height]="24"
                [soundValue]="50"
            />
        </div>
    </div>
</div>

<app-chapters
*ngIf="chapterWindow"
[files]="files"
[currentIndexFile]="currentFile"
(valueChanged)="openFile($event.file, $event.index)"
(stateChapterChanged)="toggleChapter()"
></app-chapters>


