.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 55px;
}

.slider-wrapper {
    display: flex;
    justify-content: space-between;
}

.slider-wrapper__time {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #c2c2c2;
}

