<div class="chapter-container">
    <app-button class="chapter-back__button" (eventClick)="toggleChapter()" width=18 height=24 imageUrl="./assets/back-button.svg"/>

    <h2 class="chapter-title">Содержание</h2>

    <ul class="chapter-list">
        <li class="chapter-list__item"
            *ngFor="let file of files; let i = index"
            (click)="onChange(file, i)"
            [ngClass]="{'chapter-item__active': i === currentIndexFile}">
            <div class="chapter-item__wrapper">
                <p class="chapter-name">{{ file.name }}</p>
                <p class="chapter-time">{{ formatTime(file?.durationSeconds || 0) }}</p>
            </div>
        </li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
    </ul>
</div>

